body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    line-height: 1.6;
    color: #333333;
    background-color: #f7f7f7;
}



nav {
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 1000;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 15px 40px;

    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.nav-right a {
    margin-left: 20px;
    text-decoration: none;
    color: #23395d;
    font-weight: bold;
}

.nav-left {
    color: #23395d;
    font-weight: bold;
    font-size: 1.1rem;
}

.contact-button {
    background-color: #23395d;
    color: white;
    padding: 10px 18px;
    border-radius: 6px;
}

.contact-button:hover {
    background-color: #4d6fa3;
    color: white;
}

nav a:hover {
    color: #4d6fa3;
}

html {
    scroll-behavior: smooth;
}

header {
    background-color: #23395d;
    color: white;
    padding: 50px;
}


.intro {
    font-size: 1.2rem;
    max-width: 600px;
}

.credentials {
    font-weight: bold;
    margin-top: 25px;
}

.hero-button {
    display: inline-block;
    margin-top: 15px;
    padding: 12px 24px;
    background-color: white;
    color: #23395d;
    text-decoration: none;
    font-weight: bold;
    border-radius: 6px;
}

.hero-button:hover {
    background-color: #e8edf5;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1100px;
    margin: auto;
    gap: 50px;
}

.hero-text {
    flex: 1;
}

.hero-image img {
    width: 280px;
    border-radius: 50%;
    border: 5px solid white;
}

h1 {
    margin-top: 0;
    font-size: 3rem;
}

h2 {
    color: #23395d;
}

header h2 {
    color: white;
}

.tagline {
    font-weight: bold;
}

section {
    max-width: 1100px;
    margin: auto;
    padding: 40px;
}

.columns {
    display: flex;
    gap: 50px;
}

.columns div {
    flex: 1;
}

.testimonial {
    background: white;
    padding: 25px;
    margin-bottom: 25px;
    border-left: 5px solid #23395d;
    border-radius: 5px;
}

.testimonial h3 {
    margin-top: 0;
    color: #23395d;
}

.testimonial em {
    color: #666666;
}

.testimonial p {
    line-height: 1.8;
}

footer {
    text-align: center;
    padding: 25px;
}

@media (max-width: 800px) {

    .hero {
        flex-direction: column;
        text-align: center;
    }

    .columns {
        flex-direction: column;
    }

    h1 {
        font-size: 2rem;
    }
}